- return unless merge_trains_available?
- merge_trains_help_link_url = help_page_path('ci/pipelines/merge_trains.md')
- merge_trains_help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: merge_trains_help_link_url }

.gl-pl-6
  = form.gitlab_ui_checkbox_component :merge_trains_enabled,
    s_('ProjectSettings|Enable merge trains'),
    help_text: s_('ProjectSettings|Merge requests approved for merge are queued, and pipelines validate the combined results of the source and target branches before merge. %{link_start}What are merge trains?%{link_end}').html_safe % { link_start: merge_trains_help_link_start, link_end: '</a>'.html_safe },
    checkbox_options: { class: 'js-merge-options-merge-trains', data: { testid: 'merge-trains-checkbox' } }
  - if Feature.enabled?(:merge_trains_skip_train)
    = form.gitlab_ui_checkbox_component :merge_trains_skip_train_allowed,
      s_('ProjectSettings|Allow skipping the merge train'),
      help_text: s_('ProjectSettings|Merge requests can be set to merge immediately without interrupting the merge train. Commits in earlier merge train pipelines might not get validated with immediately merged commits.'),
      checkbox_options: { class: 'js-merge-options-merge-trains-skip-train-allowed' }
